//
// VARIABLES
//

// Colors
$blue: #4183c4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #d3d3d3;
$white: #fff;

$site-name-color: #512b58;
$heading-color: #27496d;
$nav-color: #8ac6d1;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
